Repository AlicanSuleymanoglu/ali-fs-app: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

build-container-hubspot-ui-development:
  stage: build
  image:
    name: $DEFAULT_IMAGE
    entrypoint:
    - /bin/sh
  services:
  - $DEFAULT_SERVICE_DIND_IMAGE
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_HOST: tcp://localhost:2375
    DOCKER_DRIVER: overlay2
  before_script:
  - - .build-container
    - before_script
  - export ACTIVE_PROFILE_VALUE=staging
  ...

build-container-hubspot-service-development:
  stage: build
  image:
    name: $DEFAULT_IMAGE
    entrypoint:
    - /bin/sh
  services:
  - $DEFAULT_SERVICE_DIND_IMAGE
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_HOST: tcp://localhost:2375
    DOCKER_DRIVER: overlay2
  before_script:
  - - .build-container
    - before_script
  - export ACTIVE_PROFILE_VALUE=staging
  ...

scan-container-hubspot-ui-development:
  stage: postpublish
  before_script:
  - export ALLO_FRONTEND_APP="hubspot-ui"
  - - .scan-container-common
    - before_script
  needs:
  - - .scan-container-common
    - needs
  - job: build-container-hubspot-ui-development
    artifacts: false

scan-container-hubspot-service-development:
  stage: postpublish
  before_script:
  - export ALLO_FRONTEND_APP="hubspot-service"
  - - .scan-container-common
    - before_script
  needs:
  - - .scan-container-common
    - needs
  - job: build-container-hubspot-service-development
    artifacts: false

deploy-kubernetes-development-hubspot-ui:
  before_script:
  - ALLO_FRONTEND_APP="hubspot-ui"
  - INT_KUBERNETES_FILE_INPUT_NAME="${CI_PROJECT_DIR}/apps/${ALLO_FRONTEND_APP}/.k8s/kubernetes.yaml"
  - - .deploy-kubernetes-development
    - before_script
  needs:
  - - .deploy-kubernetes-development
    - needs
  - job: build-container-hubspot-ui-development
  ...

deploy-kubernetes-development-hubspot-service:
  before_script:
  - ALLO_FRONTEND_APP="hubspot-service"
  - INT_KUBERNETES_FILE_INPUT_NAME="${CI_PROJECT_DIR}/apps/${ALLO_FRONTEND_APP}/.k8s/kubernetes.yaml"
  - - .deploy-kubernetes-development
    - before_script
  needs:
  - - .deploy-kubernetes-development
    - needs
  ...

change company to restaurant
  apps/hubspot-ui/src/components/CompanySearch.tsx
  apps/hubspot-ui/src/pages/MeetingActions.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

Enhance ClosedWonReasonForm and PositiveOutcome components
  apps/hubspot-ui/src/components/ClosedWonReasonForm.tsx
  apps/hubspot-ui/src/pages/PositiveOutcome.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

Enhance deal management and navigation in FileUploader, ContractSuccess, DealSelector, and PositiveOutcome components
  apps/hubspot-ui/src/components/FileUploader.tsx
  apps/hubspot-ui/src/pages/ContractSuccess.tsx
  apps/hubspot-ui/src/pages/DealSelector.tsx
  apps/hubspot-ui/src/pages/PositiveOutcome.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

followup works, sometimes error for granola note
  apps/hubspot-ui/src/pages/AddMeeting.tsx
  apps/hubspot-ui/src/pages/FollowUpOptions.tsx
  apps/hubspot-ui/src/pages/FollowUpOutcome.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

add company to contract associaton
  apps/hubspot-service/src/index.js
Due: build-container-hubspot-service-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-service

granola fix
  apps/hubspot-service/src/index.js
Due: build-container-hubspot-service-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-service

added Cukcuk
  apps/hubspot-ui/src/components/ClosedWonReasonForm.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

Enhance deal and meeting management by adding contract_uploaded property
  apps/hubspot-service/src/index.js
  apps/hubspot-ui/src/components/CalendarView.tsx
  apps/hubspot-ui/src/components/MeetingCard.tsx
  apps/hubspot-ui/src/components/ui/select.tsx
  apps/hubspot-ui/src/hooks/useMeetings.ts
  apps/hubspot-ui/src/pages/Dashboard.tsx
  apps/hubspot-ui/src/pages/DealSelector.tsx
  apps/hubspot-ui/src/pages/MeetingActions.tsx
  apps/hubspot-ui/src/utils/refreshMeetings.ts
Due: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

sides ifx
  apps/hubspot-ui/src/components/ClosedWonReasonForm.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

fixed it (maybe) the missing user id
  apps/hubspot-service/src/index.js
Due: build-container-hubspot-service-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-service

Enhance meeting creation and company management by supporting multiple companies and deals
  apps/hubspot-service/src/index.js
  apps/hubspot-ui/src/components/CompanySearch.tsx
  apps/hubspot-ui/src/components/FloatingActionButton.tsx
  apps/hubspot-ui/src/pages/AddMeeting.tsx
Due: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

PWA Build
  apps/hubspot-ui/vite.config.ts
  package-lock.json
  package.json
Due: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

dependencies
  apps/hubspot-ui/package.json
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

another one
  package-lock.json
Due: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

meeting already completed message
  apps/hubspot-ui/src/components/CalendarView.tsx
  apps/hubspot-ui/src/components/MeetingCard.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

PWA setup
  apps/hubspot-ui/package.json
  apps/hubspot-ui/vite.config.ts
  package-lock.json
Due: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

test
  bun.lockb
Due: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

fix
  apps/hubspot-ui/src/components/ClosedLostReasonForm.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

Add reattempt date functionality to closed lost deal form
  apps/hubspot-service/src/index.js
  apps/hubspot-ui/src/components/ClosedLostReasonForm.tsx
Due: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

Test
  apps/hubspot-ui/src/pages/Dashboard.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

changed back
  apps/hubspot-ui/src/pages/Dashboard.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

Task Notes
  apps/hubspot-ui/src/pages/FollowUpOptions.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

Update user ID handling in useUser hook to map specific user ID to a new value
  apps/hubspot-ui/src/hooks/useUser.ts
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

add userid to granola notes
  apps/hubspot-service/src/index.js
Due: build-container-hubspot-service-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-service

small cookie change
  apps/hubspot-service/src/index.js
Due: build-container-hubspot-service-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-service

added cancellation reason
  apps/hubspot-service/src/index.js
  apps/hubspot-ui/src/pages/MeetingActions.tsx
  apps/hubspot-ui/src/pages/MeetingCanceled.tsx
Due: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

hot deal followup
  apps/hubspot-ui/src/pages/MeetingOutcome.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

added reattempt logic to tasks
  apps/hubspot-ui/src/components/TaskCard.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

closed lost will set task to completed
  apps/hubspot-ui/src/components/TaskCard.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

meeting already completed alert
  apps/hubspot-ui/src/components/MeetingCard.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

small change
  apps/hubspot-ui/src/pages/FollowUpOptions.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

Add API endpoint to fetch company names for a list of deal IDs and integrate it into DealSelector component
  apps/hubspot-service/src/index.js
  apps/hubspot-ui/src/pages/DealSelector.tsx
Due: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

changes to meeting creation
  apps/hubspot-ui/src/components/FloatingActionButton.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

quick meeting fetch fix
  apps/hubspot-service/src/index.js
  apps/hubspot-ui/src/components/WeeklyOverview.tsx
Due: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

small loading indication
  apps/hubspot-ui/src/pages/MeetingActions.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

calendar fix for chrstios
  apps/hubspot-ui/src/components/ClosedLostReasonForm.tsx
  apps/hubspot-ui/src/components/TaskCard.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

duplicate task fix
  apps/hubspot-ui/src/pages/Inbox.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

scrollable add meeting button
  apps/hubspot-ui/src/components/FloatingActionButton.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

past deal fix
  apps/hubspot-service/src/index.js
  apps/hubspot-ui/src/components/FloatingActionButton.tsx
Due: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

Cancellation Task
  apps/hubspot-service/src/index.js
  apps/hubspot-ui/src/components/CreateTaskDialog.tsx
  apps/hubspot-ui/src/pages/Inbox.tsx
  apps/hubspot-ui/src/pages/MeetingActions.tsx
Due: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

Path conditions:
  build-container-hubspot-ui-development: any of: *, .src/**/*, packages/**/*, apps/hubspot-ui/**/*
  build-container-hubspot-service-development: any of: *, .src/**/*, packages/**/*, apps/hubspot-service/**/*
  scan-container-hubspot-ui-development: any of: *, .src/**/*, packages/**/*, apps/hubspot-ui/**/*
  scan-container-hubspot-service-development: any of: *, .src/**/*, packages/**/*, apps/hubspot-service/**/*
  deploy-kubernetes-development-hubspot-ui: any of: *, .src/**/*, packages/**/*, apps/hubspot-ui/**/*
  deploy-kubernetes-development-hubspot-service: any of: *, .src/**/*, packages/**/*, apps/hubspot-service/**/*
