Repository AlicanSuleymanoglu/ali-fs-app: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

build-container-hubspot-ui-development:
  stage: build
  image:
    name: $DEFAULT_IMAGE
    entrypoint:
    - /bin/sh
  services:
  - $DEFAULT_SERVICE_DIND_IMAGE
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_HOST: tcp://localhost:2375
    DOCKER_DRIVER: overlay2
  before_script:
  - - .build-container
    - before_script
  - export ACTIVE_PROFILE_VALUE=staging
  ...

build-container-hubspot-service-development:
  stage: build
  image:
    name: $DEFAULT_IMAGE
    entrypoint:
    - /bin/sh
  services:
  - $DEFAULT_SERVICE_DIND_IMAGE
  variables:
    DOCKER_TLS_CERTDIR: ''
    DOCKER_HOST: tcp://localhost:2375
    DOCKER_DRIVER: overlay2
  before_script:
  - - .build-container
    - before_script
  - export ACTIVE_PROFILE_VALUE=staging
  ...

scan-container-hubspot-ui-development:
  stage: postpublish
  before_script:
  - export ALLO_FRONTEND_APP="hubspot-ui"
  - - .scan-container-common
    - before_script
  needs:
  - - .scan-container-common
    - needs
  - job: build-container-hubspot-ui-development
    artifacts: false

scan-container-hubspot-service-development:
  stage: postpublish
  before_script:
  - export ALLO_FRONTEND_APP="hubspot-service"
  - - .scan-container-common
    - before_script
  needs:
  - - .scan-container-common
    - needs
  - job: build-container-hubspot-service-development
    artifacts: false

deploy-kubernetes-development-hubspot-ui:
  before_script:
  - ALLO_FRONTEND_APP="hubspot-ui"
  - INT_KUBERNETES_FILE_INPUT_NAME="${CI_PROJECT_DIR}/apps/${ALLO_FRONTEND_APP}/.k8s/kubernetes.yaml"
  - - .deploy-kubernetes-development
    - before_script
  needs:
  - - .deploy-kubernetes-development
    - needs
  - job: build-container-hubspot-ui-development
  ...

deploy-kubernetes-development-hubspot-service:
  before_script:
  - ALLO_FRONTEND_APP="hubspot-service"
  - INT_KUBERNETES_FILE_INPUT_NAME="${CI_PROJECT_DIR}/apps/${ALLO_FRONTEND_APP}/.k8s/kubernetes.yaml"
  - - .deploy-kubernetes-development
    - before_script
  needs:
  - - .deploy-kubernetes-development
    - needs
  ...

Add CORS middleware to allow requests from specific origins (local testing)
  apps/hubspot-service/src/index.js
Due: build-container-hubspot-service-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-service

Integrate optional scopes into HubSpot OAuth authorization URL for enhanced flexibility
  apps/hubspot-service/src/index.js
Due: build-container-hubspot-service-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-service

Refactor HubSpot OAuth scopes by separating required and optional scopes for improved configuration
  apps/hubspot-service/.k8s/kubernetes.yaml
Due: build-container-hubspot-service-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-service

Update HubSpot OAuth required scopes to include additional permissions for enhanced functionality
  apps/hubspot-service/.k8s/kubernetes.yaml
Due: build-container-hubspot-service-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-service

Update BASE_URL in AddMeeting component to use VITE_PUBLIC_API_BASE_URL for improved environment configuration
  apps/hubspot-ui/src/pages/AddMeeting.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

Refactor UserProfile component to use User icon and display name without email domain; integrate UserProfile into WeeklyOverview for improved layout in Dashboard.
  apps/hubspot-ui/src/components/UserProfile.tsx
  apps/hubspot-ui/src/components/WeeklyOverview.tsx
  apps/hubspot-ui/src/pages/Dashboard.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

Implement contact association with company in HubSpot API; refactor contact search logic to improve result handling and integrate selected contact updates in CompanySearch component.
  apps/hubspot-service/src/index.js
  apps/hubspot-ui/src/components/CompanySearch.tsx
  apps/hubspot-ui/src/components/ContactSearch.tsx
Due: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

Route Planning
  apps/hubspot-ui/src/components/MeetingSection.tsx
  apps/hubspot-ui/src/pages/Dashboard.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

commented-out PodDisruptionBudget configuration from kubernetes.yaml for cleaner code and improved readability.
  apps/hubspot-service/.k8s/kubernetes.yaml
Due: build-container-hubspot-service-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-service

Status Badge Change
  apps/hubspot-ui/src/components/MeetingCard.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

small UI change (meetingoutcome set to positive
  apps/hubspot-ui/src/components/TaskCard.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

Add refresh functionality to Dashboard for meetings retrieval. Implement loading state and error handling during refresh. Update UI to include refresh button with spinner indication.
  apps/hubspot-ui/src/pages/Dashboard.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

Update package.json to reorder dependencies and add nodemon as a devDependency for improved development workflow.
  apps/hubspot-service/package.json
Due: build-container-hubspot-service-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-service

Add node-cache dependency to package.json and package-lock.json for improved caching functionality.
  package-lock.json
  package.json
Due: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

Fix formatting in build-docker.sh script and ensure proper newline at the end of package-lock.json file.
  .src/main/build-helper/build-docker.sh
  package-lock.json
Due: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

changed back
  .src/main/build-helper/build-docker.sh
  package-lock.json
Due: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

Add contactPhone field to Meeting interface and enhance internal notes processing in Dashboard. Clean up HTML tags and whitespace from internal notes during meetings retrieval.
  apps/hubspot-ui/src/hooks/useMeetings.ts
  apps/hubspot-ui/src/pages/Dashboard.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

Add contactPhone and internalNotes fields to meeting data structure. Enhance internal notes processing by cleaning up HTML tags and whitespace during meetings retrieval.
  apps/hubspot-ui/src/components/CalendarView.tsx
  apps/hubspot-ui/src/pages/AddMeeting.tsx
  apps/hubspot-ui/src/pages/MeetingActions.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

Refactor AudioRecorder component by removing confirmation dialog for sending voice notes and updating success message duration.
  apps/hubspot-ui/src/components/AudioRecorder.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

Add payment competitor field to ClosedWonReasonForm and update API integration.
  apps/hubspot-service/src/index.js
  apps/hubspot-ui/src/components/ClosedWonReasonForm.tsx
Due: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

Remove deprecated identify-caller endpoint from hubspot-service. This cleanup enhances code maintainability by eliminating unused functionality.
  apps/hubspot-service/src/index.js
Due: build-container-hubspot-service-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-service

Add HUBSPOT_TOKEN environment variable to Kubernetes configuration and implement identify-caller endpoint for support agents. Update error logging for meeting completion.
  apps/hubspot-service/.k8s/kubernetes.yaml
  apps/hubspot-service/src/index.js
Due: build-container-hubspot-service-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-service

quick fix
  apps/hubspot-service/src/index.js
Due: build-container-hubspot-service-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-service

Update HubSpot API version in meeting associations and display deal ID in MeetingActions component.
  apps/hubspot-service/src/index.js
  apps/hubspot-ui/src/pages/MeetingActions.tsx
Due: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

v4 again
  apps/hubspot-service/src/index.js
Due: build-container-hubspot-service-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-service

only current week
  apps/hubspot-service/src/index.js
Due: build-container-hubspot-service-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-service

elevenlabs number fix
  apps/hubspot-service/src/index.js
Due: build-container-hubspot-service-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-service

hubspot identifx
  apps/hubspot-service/src/index.js
Due: build-container-hubspot-service-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-service

change
  apps/hubspot-service/src/index.js
Due: build-container-hubspot-service-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-service

test
  apps/hubspot-service/src/index.js
Due: build-container-hubspot-service-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-service

Add endpoint to append text to HubSpot notes, improve phone number normalization, and update navigation after marking meetings as negative outcome.
  apps/hubspot-service/src/index.js
  apps/hubspot-ui/src/pages/FollowUpOutcome.tsx
  apps/hubspot-ui/src/pages/NegativeOutcome.tsx
Due: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

Add validation dialog for missing meeting information in MeetingActions component, including checks for required fields and a link to HubSpot for corrections.
  apps/hubspot-ui/src/pages/MeetingActions.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

Enhance MeetingActions: Add ownerId retrieval and update HubSpot link structure for meeting details
  apps/hubspot-ui/src/pages/MeetingActions.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

Add refresh functionality to MeetingActions component
  apps/hubspot-ui/src/pages/MeetingActions.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

Refactor MeetingActions component: Update Deal ID section for better mobile support and add link to HubSpot for contract notes
  apps/hubspot-ui/src/pages/MeetingActions.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

jack fix
  apps/hubspot-service/src/index.js
Due: build-container-hubspot-service-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-service

Update meeting data structure: Change address field to use properties.hs_meeting_location and add company_address field in Meeting interface
  apps/hubspot-service/src/index.js
  apps/hubspot-ui/src/hooks/useMeetings.ts
Due: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

Update Kubernetes configuration: Add 'files.ui_hidden.read' to OPTIONAL_SCOPES in hubspot-service deployment
  apps/hubspot-service/.k8s/kubernetes.yaml
Due: build-container-hubspot-service-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-service

Refactor meeting data structure: Update address handling to include companyAddress field across components and interfaces
  apps/hubspot-service/src/index.js
  apps/hubspot-ui/src/components/CalendarView.tsx
  apps/hubspot-ui/src/components/MeetingCard.tsx
  apps/hubspot-ui/src/hooks/useMeetings.ts
  apps/hubspot-ui/src/pages/MeetingActions.tsx
  apps/hubspot-ui/src/utils/refreshMeetings.ts
Due: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

Path conditions:
  build-container-hubspot-ui-development: any of: *, .src/**/*, packages/**/*, apps/hubspot-ui/**/*
  build-container-hubspot-service-development: any of: *, .src/**/*, packages/**/*, apps/hubspot-service/**/*
  scan-container-hubspot-ui-development: any of: *, .src/**/*, packages/**/*, apps/hubspot-ui/**/*
  scan-container-hubspot-service-development: any of: *, .src/**/*, packages/**/*, apps/hubspot-service/**/*
  deploy-kubernetes-development-hubspot-ui: any of: *, .src/**/*, packages/**/*, apps/hubspot-ui/**/*
  deploy-kubernetes-development-hubspot-service: any of: *, .src/**/*, packages/**/*, apps/hubspot-service/**/*
