Repository AlicanSuleymanoglu/ali-fs-app: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

Path conditions:
  build-container-hubspot-ui-development: any of: *, .src/**/*, packages/**/*, apps/hubspot-ui/**/*
  build-container-hubspot-service-development: any of: *, .src/**/*, packages/**/*, apps/hubspot-service/**/*
  scan-container-hubspot-ui-development: any of: *, .src/**/*, packages/**/*, apps/hubspot-ui/**/*
  scan-container-hubspot-service-development: any of: *, .src/**/*, packages/**/*, apps/hubspot-service/**/*
  deploy-kubernetes-development-hubspot-ui: any of: *, .src/**/*, packages/**/*, apps/hubspot-ui/**/*
  deploy-kubernetes-development-hubspot-service: any of: *, .src/**/*, packages/**/*, apps/hubspot-service/**/*

Update authorization token in contract upload endpoint to use HUBSPOT_TOKEN for improved security
  apps/hubspot-service/src/index.js
Due: build-container-hubspot-service-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-service

JACK
  apps/hubspot-service/src/index.js
Due: build-container-hubspot-service-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-service

Add Follow-Up Options page and update routing in App component
  apps/hubspot-ui/src/App.tsx
  apps/hubspot-ui/src/pages/FollowUpOptions.tsx
  apps/hubspot-ui/src/pages/FollowUpOutcome.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

Refactor date handling in meetings endpoint and improve contact selection logic in ContactSearch component
  apps/hubspot-service/src/index.js
  apps/hubspot-ui/src/components/ContactSearch.tsx
Due: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

small create route change
  apps/hubspot-ui/src/pages/Dashboard.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

jack
  apps/hubspot-service/src/index.js
Due: build-container-hubspot-service-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-service

contract new line
  apps/hubspot-service/src/index.js
Due: build-container-hubspot-service-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-service

test
  apps/hubspot-service/src/index.js
Due: build-container-hubspot-service-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-service

search first and lastname
  apps/hubspot-service/src/index.js
Due: build-container-hubspot-service-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-service

contract upload change
  apps/hubspot-service/src/index.js
Due: build-container-hubspot-service-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-service

revert contract zapier upload
  apps/hubspot-service/src/index.js
Due: build-container-hubspot-service-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-service

Enhance company search functionality and pagination support
  apps/hubspot-service/src/index.js
  apps/hubspot-ui/src/components/AddNewCompanyPopup.tsx
  apps/hubspot-ui/src/components/CompanySearch.tsx
Due: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

Refactor CompanySearch component for improved user experience
  apps/hubspot-ui/src/components/CompanySearch.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

payment competitors
  apps/hubspot-ui/src/components/ClosedWonReasonForm.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

changed the way we fetch the meetings... let's see :D
  apps/hubspot-service/src/index.js
Due: build-container-hubspot-service-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-service

fixed some rescheduling stuff
  apps/hubspot-service/src/index.js
  apps/hubspot-ui/src/pages/AddMeeting.tsx
Due: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

consistent internal notes
  apps/hubspot-ui/src/pages/AddMeeting.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

Enhance meeting retrieval and caching logic
  apps/hubspot-service/src/index.js
  apps/hubspot-ui/src/components/WeeklyOverview.tsx
Due: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

logging
  apps/hubspot-ui/src/components/WeeklyOverview.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

small stuff
  apps/hubspot-service/src/index.js
  apps/hubspot-ui/src/components/WeeklyOverview.tsx
Due: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

maybe have to redo
  package-lock.json
Due: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

minor
  package-lock.json
Due: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

test
  apps/hubspot-ui/src/components/WeeklyOverview.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

again
  apps/hubspot-ui/src/components/WeeklyOverview.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

added lightspeed
  apps/hubspot-ui/src/components/ClosedWonReasonForm.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

Add text note functionality to follow-up outcomes
  apps/hubspot-service/src/index.js
  apps/hubspot-ui/src/pages/FollowUpOutcome.tsx
  apps/hubspot-ui/src/pages/NegativeOutcome.tsx
  apps/hubspot-ui/src/pages/PositiveOutcome.tsx
Due: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

fetching meetings change
  apps/hubspot-service/src/index.js
Due: build-container-hubspot-service-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-service

Refactor meeting date range logic and improve caching behavior
  apps/hubspot-service/src/index.js
  apps/hubspot-ui/src/components/WeeklyOverview.tsx
Due: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

small change
  apps/hubspot-ui/src/components/WeeklyOverview.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

Update date range logic for meetings and adjust UI messages
  apps/hubspot-service/src/index.js
  apps/hubspot-ui/src/components/WeeklyOverview.tsx
Due: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

Refactor ClosedWonReasonForm and enhance AddMeeting navigation logic
  apps/hubspot-ui/src/components/ClosedWonReasonForm.tsx
  apps/hubspot-ui/src/components/WeeklyOverview.tsx
  apps/hubspot-ui/src/pages/AddMeeting.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

Enhance meeting details retrieval and UI components
  apps/hubspot-service/src/index.js
  apps/hubspot-ui/src/components/CalendarView.tsx
  apps/hubspot-ui/src/components/MeetingCard.tsx
  apps/hubspot-ui/src/components/WeeklyOverview.tsx
  apps/hubspot-ui/src/components/ui/popover.tsx
  apps/hubspot-ui/src/hooks/useMeetings.ts
  apps/hubspot-ui/src/pages/AddMeeting.tsx
  apps/hubspot-ui/src/pages/Dashboard.tsx
  apps/hubspot-ui/src/pages/MeetingActions.tsx
  apps/hubspot-ui/src/utils/refreshMeetings.ts
Due: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

Enhance deal management and navigation in meeting outcomes
  apps/hubspot-service/src/index.js
  apps/hubspot-ui/src/components/ClosedLostReasonForm.tsx
  apps/hubspot-ui/src/hooks/useMeetings.ts
  apps/hubspot-ui/src/pages/ContractSuccess.tsx
  apps/hubspot-ui/src/pages/DealSelector.tsx
  apps/hubspot-ui/src/pages/FollowUpOutcome.tsx
  apps/hubspot-ui/src/pages/MeetingActions.tsx
  apps/hubspot-ui/src/pages/MeetingOutcome.tsx
  apps/hubspot-ui/src/pages/NegativeOutcome.tsx
  apps/hubspot-ui/src/pages/PositiveOutcome.tsx
Due: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

another one
  apps/hubspot-ui/src/pages/MeetingOutcome.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

sides change
  apps/hubspot-ui/src/components/ClosedWonReasonForm.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

Enhance navigation and deal management in contract success and follow-up options
  apps/hubspot-ui/src/pages/ContractSuccess.tsx
  apps/hubspot-ui/src/pages/FollowUpOptions.tsx
  apps/hubspot-ui/src/pages/PositiveOutcome.tsx
  apps/hubspot-ui/src/utils/refreshMeetings.ts
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

bug fix
  apps/hubspot-ui/src/pages/FollowUpOptions.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

Enhance navigation in MeetingOutcome and NegativeOutcome components
  apps/hubspot-ui/src/pages/MeetingOutcome.tsx
  apps/hubspot-ui/src/pages/NegativeOutcome.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

positive flow
  apps/hubspot-ui/src/pages/MeetingOutcome.tsx
  apps/hubspot-ui/src/pages/PositiveOutcome.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

more changes
  apps/hubspot-ui/src/pages/AddMeeting.tsx
  apps/hubspot-ui/src/pages/FollowUpOptions.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui
