Repository AlicanSuleymanoglu/ali-fs-app: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

Path conditions:
  build-container-hubspot-ui-development: any of: *, .src/**/*, packages/**/*, apps/hubspot-ui/**/*
  build-container-hubspot-service-development: any of: *, .src/**/*, packages/**/*, apps/hubspot-service/**/*
  scan-container-hubspot-ui-development: any of: *, .src/**/*, packages/**/*, apps/hubspot-ui/**/*
  scan-container-hubspot-service-development: any of: *, .src/**/*, packages/**/*, apps/hubspot-service/**/*
  deploy-kubernetes-development-hubspot-ui: any of: *, .src/**/*, packages/**/*, apps/hubspot-ui/**/*
  deploy-kubernetes-development-hubspot-service: any of: *, .src/**/*, packages/**/*, apps/hubspot-service/**/*

Show Notes in Tasks
  apps/hubspot-service/src/index.js
  apps/hubspot-ui/src/components/TaskCard.tsx
Due: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

test
  apps/hubspot-ui/src/components/TaskCard.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

optiona reattempt date
  apps/hubspot-ui/src/components/TaskCard.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

text
  apps/hubspot-ui/src/components/TaskCard.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

task fetching fix
  apps/hubspot-service/src/index.js
Due: build-container-hubspot-service-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-service

task closedwonform fix
  apps/hubspot-service/src/index.js
  apps/hubspot-ui/src/components/WinDealDialog.tsx
Due: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

This is a test commit!
  apps/hubspot-ui/src/pages/CreateContract.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

Special Request
  apps/hubspot-service/src/index.js
  apps/hubspot-ui/src/components/ClosedWonReasonForm.tsx
  apps/hubspot-ui/src/components/WinDealDialog.tsx
Due: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

access past meetings
  apps/hubspot-service/src/index.js
  apps/hubspot-ui/src/components/UserProfile.tsx
  apps/hubspot-ui/src/components/WeeklyOverview.tsx
  apps/hubspot-ui/src/pages/Dashboard.tsx
Due: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

remove userprofile
  apps/hubspot-ui/src/components/UserProfile.tsx
  apps/hubspot-ui/src/components/WeeklyOverview.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

fetch meetings outside of the window
  apps/hubspot-ui/src/components/WeeklyOverview.tsx
  apps/hubspot-ui/src/pages/AddMeeting.tsx
  apps/hubspot-ui/src/pages/Dashboard.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

small
  apps/hubspot-ui/src/pages/Dashboard.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

small stuff
  apps/hubspot-ui/src/components/WeeklyOverview.tsx
  apps/hubspot-ui/src/pages/Dashboard.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

search bar tasks
  apps/hubspot-ui/src/pages/Inbox.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

test
  apps/hubspot-ui/src/pages/Dashboard.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

test
  apps/hubspot-service/src/index.js
Due: build-container-hubspot-service-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-service

Revert "test"
  apps/hubspot-service/src/index.js
Due: build-container-hubspot-service-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-service

DISH and ORdersmart
  apps/hubspot-ui/src/components/ClosedWonReasonForm.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

google calendar integration
  apps/hubspot-service/.k8s/kubernetes.yaml
  apps/hubspot-service/package.json
  apps/hubspot-service/src/index.js
  apps/hubspot-ui/src/components/CalendarView.tsx
  apps/hubspot-ui/src/components/FloatingActionButton.tsx
  apps/hubspot-ui/src/components/TaskCard.tsx
  apps/hubspot-ui/src/lib/utils.ts
  apps/hubspot-ui/src/pages/AddMeeting.tsx
  apps/hubspot-ui/src/pages/Dashboard.tsx
  apps/hubspot-ui/src/pages/MeetingActions.tsx
  package-lock.json
Due: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

hope
  apps/hubspot-ui/src/components/CalendarView.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

lets see
  apps/hubspot-ui/src/components/FloatingActionButton.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

Update package name to ali-fs-app
  package.json
Due: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

removing test changes
  apps/hubspot-ui/src/components/CalendarView.tsx
  apps/hubspot-ui/src/components/FloatingActionButton.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

Add duplicate contact detection and selection functionality
  apps/hubspot-service/src/index.js
  apps/hubspot-ui/src/components/ContactSearch.tsx
  apps/hubspot-ui/src/components/LoginButton.tsx
Due: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

Remove HubSpot note creation from Granola Notes - only send to Zapier webhook
  apps/hubspot-service/src/index.js
  apps/hubspot-ui/src/pages/FollowUpOutcome.tsx
  apps/hubspot-ui/src/pages/NegativeOutcome.tsx
  apps/hubspot-ui/src/pages/PositiveOutcome.tsx
Due: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

change
  README.md
  apps/hubspot-ui/src/components/LoginButton.tsx
Due: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

test
  apps/hubspot-ui/src/components/LoginButton.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

123
  apps/hubspot-ui/src/components/LoginButton.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

align meetings
  apps/hubspot-ui/src/components/CalendarView.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

ckeaning up google meets
  apps/hubspot-ui/src/components/CalendarView.tsx
  apps/hubspot-ui/src/components/WeeklyOverview.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

beauty stuff
  apps/hubspot-ui/src/components/TaskSection.tsx
  apps/hubspot-ui/src/pages/Dashboard.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

better task inbox management
  apps/hubspot-ui/src/pages/Inbox.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

ali trick
  apps/hubspot-service/src/index.js
Due: build-container-hubspot-service-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-service

meeting note append while rescheduling
  apps/hubspot-service/src/index.js
Due: build-container-hubspot-service-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-service

appending note change
  apps/hubspot-service/src/index.js
Due: build-container-hubspot-service-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-service

Frontend outcome page header change
  apps/hubspot-ui/src/pages/MeetingOutcome.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

ui: show 'Missing Information' dialog before cancellation task when meeting lacks associations (Company/Deal/Contact)
  apps/hubspot-ui/src/pages/MeetingActions.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

additionallostreason
  apps/hubspot-ui/src/components/ClosedLostReasonForm.tsx
  apps/hubspot-ui/src/components/TaskCard.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui

new meeting deal selection
  apps/hubspot-service/src/index.js
  apps/hubspot-ui/src/components/CompanySearch.tsx
  apps/hubspot-ui/src/pages/AddMeeting.tsx
Due: build-container-hubspot-ui-development, build-container-hubspot-service-development, scan-container-hubspot-ui-development, scan-container-hubspot-service-development, deploy-kubernetes-development-hubspot-ui, deploy-kubernetes-development-hubspot-service

meeting name change
  apps/hubspot-ui/src/components/FloatingActionButton.tsx
  apps/hubspot-ui/src/components/TaskCard.tsx
  apps/hubspot-ui/src/pages/AddMeeting.tsx
Due: build-container-hubspot-ui-development, scan-container-hubspot-ui-development, deploy-kubernetes-development-hubspot-ui
